@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian&display=swap');





* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif Georgian', serif;
}
ul {
    list-style: none;
}

nav {
    display: flex;
    padding: 0 20px;
    align-items: center;
    gap: 20px;
    background-color: #262829;
    color: white;
    /* border-bottom: 2px solid black; */
}
.menu {
    position: relative;
}
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.menu {
    display: flex;
    list-style: none;
}
.menu > li {
    padding: 20px;
}
.logo {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo:nth-child(3) {
    border: 2px solid rgb(111, 214, 226);
}
.logo img {
    width: 100%;
}
.menu > ul {
}
.dropDown li {
    transition: .2s;
    padding: 18px ;
    border-left: 0 solid black
}
.dropDown {
    height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    background-color: rgb(64, 64, 64);
    transition: .1s;
    /* border-bottom: 2px solid black; */
    font-family: 'Syne', sans-serif;
}
.dropDown li:hover {
    background-color: rgb(163, 161, 161);
    border-left: 6px solid rgb(63, 162, 167);
  
}
.dropDown li:hover a {
    color:rgb(251, 255, 0) !important;
    font-weight: bold;
}

.menu li:hover .dropDown {
    height: unset;
}
section {
    min-height: calc(100vh - 62px);
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
    background-color:#bfbfc0;
    /* gap:10px; */
}
section > div {
    flex:1;
}
.mainBox {
    display: flex;
    width: 100%;
}
.mainBox img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.mainBox div {
    flex:1;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box1 {
    background-color: #cbd189;
}
.box2 {
    background-color: #806fff;
}
.box3 {
    background-color: #f478ff;
}
section * {
    /* text-align: center; */
}
h1 {
    font-size: 2.5rem;
}
q {
    margin-bottom: 100px;
}

.logosBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.logosBox img {
    height: 80px;
}
/* .line {
    height: 6px;
    width: 100px;
    background-color: rgb(10, 8, 8);
} */
.importantColor {
    color: rgb(255, 255, 0);
    font-weight: bold;
}
h4,h2,h1 {
    /* background-color: #262829;
    color: white;
    padding: 10px;
    width: 100%; */
}
.rules {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}
.importantBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 62px);
    background-color: rgb(251, 255, 0);
    font-size: 15rem;
}
.div1 {
    animation: fromTop 1s ; 
}
@keyframes fromLeft {
    0%   {transform: translate(-300px);opacity: 0;}
}
@keyframes fromBottom {
    0% { transform: translateY(300px);opacity: 0;}
}
@keyframes fromTop {
    0%   {transform: translateY(-300px);opacity: 0;}
}
@keyframes fromRight {
    0% { transform: translate(300px);opacity: 0;}
}
.div2 {
    font-size: 4.4rem;
    animation: fromBottom 1s ; 
    transform: translateY(-80px);
}
.rightSection {
    background-color: #806fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: center;
    align-items: center; */
    border-left: 6px solid black;
}
.rightSection div {
    padding: 10px;
    height: calc((100vh - 62px)/2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    min-height: 300px;
}
.rightBox1 {
    background-color: rgb(251, 255, 0);
    animation: fromLeft 1s ; 
}
.rightBox2 {
    background-color: #000000;
    animation: fromTop 1s ; 
    color: white;
}
.rightBox2 h4 {
    margin-bottom: 20px;
}
.rightBox3 {
    background-color: #000000;
    animation: fromBottom 1s ; 
    color: white;
}
.rightBox4 {
    background-color: rgb(251, 255, 0);
    animation: fromRight 1s ; 
}
.menuLines {
    display: none;
}


.dropDownMenu .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 80px;
    background-color: #262829;
    min-width: 100%;
    padding: 10px;
    height: 100%;
}
.dropDownMenu .menu > li {
    background-color: #515153 !important;
}
.dropDownMenu .menu > ul li {
    padding: 10px;
}
.dropDownMenu .menu > ul li:hover{
    background-color: #c5c800;
}
.rem3 {
    font-size: 2rem;
    cursor: pointer;
}
.displayNone {
    display: none;
}
@media (max-width:1250px){
    section {
        flex-direction: column;
    }
    .rightSection {
        border-top: 6px solid black;
        border-left: none;
    }
}

@media (max-width:700px){
    .rightSection {
        grid-template-columns: 1fr;
    }
    .rightBox1 {
        background-color: rgb(0, 0, 0);
        color: white;
        animation: fromLeft 1s ; 
    }
    .rightBox2 {
        background-color: rgb(251, 255, 0);
        animation: fromTop 1s ; 
        color: black;
    }
    .importantColor {
        color: rgb(255, 100, 100);
    }
    .rightBox3 {
        background-color: #000000;
        animation: fromBottom 1s ; 
    }
    nav > .menu {
        display: none;
    }
    nav {
        min-height: 80px;
        justify-content: space-between;
    }
    .menuLines {
        display: unset;
    }
    .rightSection div {
        padding: 20px;
    }
}

@media (max-width:520px){
    .importantBox {
        font-size: 8rem;
    }
    .div2 {
        font-size: 2.4rem;
        animation: fromBottom 1s ; 
        transform: translateY(-30px);
    }
    h1 {
        font-size: 1.5rem;
    }
}
